@charset "UTF-8";

/* ========== smilegate_ux_template ========== */
@import "mixins/mixins.scss";
@import "common/variable.scss";

/* ========== mixin ========== */
@mixin border-radius($val) {
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    border-radius: $val;
}

@mixin transition($object, $sec) {
    -webkit-transition: $object $sec;
    -moz-transition: $object $sec;
    -o-transition: $object $sec;
    transition: $object $sec;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
}

@mixin verticalMiddle($val) {
    height: $val;
    line-height: $val;
}

@mixin transform($val){
    -webkit-transform: $val;
    -moz-transform: $val;
    -o-transform: $val;
    transform: $val;
}

@mixin boxSizing-borderBox{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ========== common ========== */
body{
    color: $txt_black;
    line-height: 1.6em;
    letter-spacing: -.2px;
}
a,
a:focus,
a:active,
a:hover {
  color: inherit;
}
.txt--orange{
    color: $orange
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.section.section--no-padding{
    padding: 0;
}
.component-group{
    &.component-group--align-left{
        float: left;
    }
    &.component-group--align-right{
        float: right;
        margin-top: 0
    }
}
.lst-link{
    padding: 16px 0 0 16px;

    &__menu{
        display: block;
        position: relative;
    }
    &__menu-txt{
        display: block;
        @include verticalMiddle(32px);
        @include font-size(16, 1.6em, normal);
        color: $txt;
        letter-spacing: -.2px;
    }
}
.table .table__row--top{
    font-weight: 700;    
    background-color: $blue_light;
}
.popup-wrap.popup-layer--xxlarge .popup-wrap__inner{
    width: 1160px;
}


/* icon */
.icon-important{
    width: 16px;
    height: 16px;
    background-image: url("../img/icon.png");
    background-position: 0 -22px;
}
.icon-attachment{
    width: 16px;
    height: 16px;
    background-size: auto;
    background-image: url("../img/icon.png");
    background-position: -33px -22px;
}
.icon-user{
    width: 32px;
    height: 32px;
    background-color: pink;
    @include border-radius(50%);
    overflow: hidden;
    img{
        width: 72px;
        height: auto;
        margin-left: -16px;
        margin-top: -8px;
    }
}
.icon-alert{
    width: 20px;
    height: 21.2px;
    background-image: url("../img/icon.png");
    background-position: 0 0;

    + .icon-alert-num{
        width: 18px;
        height: 18px;
        background-color: $orange;
        color: $white;
        text-align: center;
        @include position(absolute, -4px, -4px, false, false);
        @include border-radius(50%);
        @include font-size(12px, false, bold);
        @include verticalMiddle(18px);
    }
}
.icon-bookmark{
    width: 18px;
    height: 17.2px;
    background-image: url("../img/icon.png");
    background-position: -20px 0;
}
.icon-external{
    width: 10px;
    height: 9px;
    background-image: url("../img/icon.png");
    background-position: -16px -21px;
}

//input 
.input-field input[type=text] {
    height: 24px
}
.datepicker{
    &.datepicker--active{
        z-index: 2;
    }
    .input-field__btn-datepicker{
        padding: 4px 8px
    }
}
.dropdown--narrow{
    .dropdown__button{
       height: 24px; 
       padding: 1px 23px 1px 15px;
       .icon-arrow{
           top: 9px;
       }
    }
}

/* ========== header ========== */
.header {
    position: relative;
    height: auto;    
    z-index: 15;
    
    &::before{
        content: "";
        @include position(absolute, 0, 0, auto, 0);
        height: 116px;
        background-color: #fff;
    }
    &.gnb--open::before{
        height: 396px; 
        z-index: -1;
        @include box-shadow(0, 2px, 5px, 0, rgba(0,0,0,0.2));
    }

    .header__inner{
        height: 60px;
    }
    .search-form{
        margin: 20px auto 0;
    }    
    .service_tit2{
        font-size: 16px;
        color: $orange
    }
}

//info-box
.header__group-info {
    padding-top: 10px;
    .info-box{
        width: 448px;
        margin: 0 auto;
        background-color: $bg_default;
        @include border-radius(4px);
        @include verticalMiddle(40px);

        > a{
            display: inline-block;
            height: 100%;
            
            .header__info-tit{
                @include font-size(14px, false, bold);
                color: $txt;
                padding: 0 12px 0 16px;
            }
            .header__info-txt{
                @include font-size(12px, false, false);
                padding-left: 12px;
            }
            &.btn--link{
                float: right;
                margin-top: 14px;
                margin-right: 16px; 
                width: 13px;
                height: 13px;
                min-height: auto;                    
                border: 1px solid $txt_gray;                    
                color: $txt_gray;
                @include font-size(11px, 11px, bold);
                @include border-radius(50%);

                .header__info-txt{
                    padding-left: 0;
                }
            }
        }        
    }
}

//util menu
.header__util .header__util-item{
    width: 32px;
    height: 32px;    
    margin-left: 8px;

    &:first-child{
        width: auto;
        margin-left: 0;
        margin-right: 8px;

        &:hover .header__util-menu{
            background-color: $bg_lightgray;
			border-radius: 50%;
        }
        .lst-popup__item{
            margin-top: -8px;
            
        }
        .lst-popup__size-info{
            position: relative;
            padding-right: 16px;
            .lst-popup__size-title{
                @include font-size(14px, false, false);
                color: $txt;
            }
            .icon-arrow{
                position: absolute;
                top: 21px;
                right: 0px;
                width: 10px;
                height: 6px;
                background-image: url("../img/sprites/template_pc.png");
                background-position: -92px -190px;
            }
        }
        .header__util-user{
            display: inline-block;
        }
    }
    &.header__util-item--active{
        .header__util-bookmark .icon-bookmark{
            background-position: -38px 0;
        }
    }
}
.header__util .header__util-menu{
    &.header__util-alert{
        position: relative;
        width: 20px;
        height: 22px;
        padding: 4px 6px 6px;
    }
    
    &.header__util-allmenu, &.header__util-bookmark{
        width: 16px;
        height: 20px;
        text-align: center;
        padding-top: 4px;
    }

    .sp{
        vertical-align: middle;
    }    
}

//gnb
.gnb {       
    .lst-gnb {
        position: relative;
        max-width: 1440px;
        margin: 0 auto;padding: 0 24px;
        @include boxSizing-borderBox;
        .lst-gnb-sub{
            @include position(absolute, 56px, auto, auto, 60px);
            display: none;    
        }
        
        &:hover{
            .lst-gnb-sub{
                display: block;                
                height: 280px;
                color: $txt;
            }
    
            &::before{
                content:"";
                position: absolute;
                top: 56px;
                left: 0;
                width: 100%;
                height: 280px;
                background: $white;
                z-index: -1;
            }
        
        }
        .gnb_depth1{
            float: left;
            position: relative;            
            text-align: center;
            height: 56px;
            background-color: $white;            
            padding: 0 60px;

            &:first-child{
                padding-left: 0;
                .lst-gnb-sub{
                    left: 0px;
                }
            }
            &:last-child{
                padding-right: 0;
            }
            
            .lst-gnb-sub{
                width: 100%;
            }
        }
        .gnb_depth1 > a{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            color: $txt_black;
            @include font-size(16, false, bold);
            line-height: 56px;

            &::after{
                content: "";
                position: absolute;
                bottom: 8px;
                left: 0;
                height: 2px;
                background-color: $orange; 
                width: 100%;
                @include transform(scaleX(0));
                @include transition(transform, 0.3s);
            }           
        }

        .gnb_depth1:hover > a::after, .gnb_depth1--active > a::after{
            @include transform(scaleX(1));
        }
        
        .gnb_depth2{
            text-align: left;
            font-size: 14px;
            @include verticalMiddle(40px);
        }

        .gnb_depth2:hover > a, .gnb_depth2--active > a{
            color: $orange;
        }
            
    }
}

//sub-header--blue_bar
.header .bar--blue{
    height: 16px;
    background-color: $blue_dark;
    @include box-shadow(0, 2px, 5px, 0, rgba(0,0,0,0.2)); 
}

/* ========== lnb ========== */
.lnb-area{
    border: 0;
    z-index: 10;
    @include position(absolute, 0, null, 0, 0);
    @include transition(left, 0.4s);

    .btn-lnb{
        @include position(absolute, 0, 0, 0, auto);
        @include border-radius(0);
        height: 100%;
        width: 16px;
        padding: 0;
        border-color: #ccc;
        border-top: 0;
        background-color: $bg_lightgray;
        z-index: 6;

        .icon-arrow{
            width: 0;
            height: 0;
            border-left: none;
            border-right: 5px solid $orange;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }
    }
    .lst-lnb{
        z-index: 8;
        .icon-arrow--ms{
            right: 44px;
        }
        .lst-lnb-3depth{
            width: 200px;
            right: -168px;
            z-index: 7;
        }    
    }
}

.container.lnb--close{
    padding-left: 16px;
    .grid-layout iframe{
        width: calc(100% - 64px);
    }
    .lnb{
        left: -220px;

        .icon-arrow{
            border-right: none;
            border-left: 5px solid $orange;       
        }
    }
}

/* ========== container ========== */
.container{
    min-height: calc(100% - 116px);
    @include transition(padding-left, 0.4s);
}
.btn--link .btn__txt{
    padding-right: 0;
    color: $txt_gray;
    &::before{
        background-image: none;
    }
}

/* ===== main ===== */
.main-container{
    .group-item-info{
        padding-top: 24px;
    }
    .table-title{
        @include verticalMiddle(54px);
        padding: 0 24px;
        border-bottom: 1px solid $border_dark 
    }
    .component-group__table{
        margin-top: 0;
    }
    .table{
        padding: 0;
        margin: 0 24px 20px;
        border-width: 0 0 1px;
        thead tr{
            border-bottom: 1px solid $border;
        }
        tr:first-child .table__td{
            border-width: 0
        }
        .table__td{
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
        }
        .table__th{
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
        }
    }
}
.link-box .component-box{
    float: left;
    width: calc(100% / 7);
    margin-left: 0;
    a{
        display: block;
        width: 144px;
        height: 144px;
        border: 1px solid $border_dark;
        margin: 24px auto;
        text-align: center;
        @include border-radius(4px);
    }
    a svg{
        padding-top: 25px;
        max-width: 64px;
        max-height: 64px;
        fill: $txt_gray;
        
    }

    a span{
        display: block;
        font-size: 16px;
        padding-top: 16px;
    }

    &:hover a{
        border-color: $blue;
        background-color: $white;        
        color: $blue;
        @include box-shadow(5px, 5px, 10px, 0, rgba(0,0,0,0.2));
        
        svg {
            fill: $blue_dark;
        }

        span{
            font-weight: bold;
        }
    }
}

.board--tax-schedule .table {
    table .table__td .table__txt{
        @include ellipsis;
    }
}

/* ===== sub ===== */
.container.container--include-lnb{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;

}

//iframe
.container.container--iframe {
    iframe{
        @include transition(left, 0.4s);
        @include position(absolute, 112px, auto, auto, 260px);    
        width: calc(100% - 284px);
        height: calc(100% - 168px);
            
    }

    &.lnb--close iframe{
        left: 40px;
    }
}

.container .page-title{
    padding: 24px 0;
    margin: 0 24px;
    border-bottom: 1px solid $border_dark;

    + .page-title__dsc{
        @include font-size(14px, 1.6em, false);
        color: $txt;
        padding-top: 24px;
        margin: 0 24px;        
    }
} 

.section-title{
    margin-bottom: 0;
    > span{
        @include font-size(14px, false, 400);
        color: $txt_gray;
        padding-left: 16px;
    }
}

.btn-box--absolute{
    @include position(absolute, -2px, 24px, null, null);

    .btn-bookmark{
        padding: 0 6px;        

        .sp.icon-bookmark{
            margin: 0;
            width: 18px;
            height: 17.2px;
            background-image: url("../img/icon.png");
            background-position: -55px 0; 
        }

        &.btn-bookmark--active {
            border-color: $orange;
            .icon-bookmark{
                background-position: -72px 0;
            }   
        }
    }

    .component-box{
        margin-left: 18px;
    }
    
}

/* community table */
.table.table-financial {
    .table__th{
        padding: 4px 8px;
        border: 1px solid $border_light;
        border-width: 0 1px 1px 0;              
    }    
    .table__th--required:after{
            content: "";
            position: relative;
            display: inline-block;
            width: 4px;
            height: 4px;
            top: -10px;
            margin-left: 6px;
            @include border-radius(50%);
            background-color: $orange;
    }
    
    tr {
        .table__th:last-child{border-right: 0}
        .table__td:last-child{border-right: 0}
    }
    .table__td{
        padding: 4px 7px;
        border: 1px solid $border_light;
        border-width: 1px 1px 0 0;
        
        .input-field-table .input-field__input{
            border: 0;
            background-color: transparent;
            padding: 1px;
        }

        > div{
            width: 100%
        }
    }
    .table__td--data{
        background-color: $bg_default;
    }
    /* .table__td--select{        
        background-color: #daffff;        
    } */
    .table__td--disabled{
        background-color: $bg_default;
    }
}

.table-chain{
    thead{border-bottom: 1px solid $border_light;}
    .table__th{
        border: 1px solid $border_light;
        border-width: 1px 1px 0 0;        
    }
    tbody tr:first-child {
        .table__th{border-top: 0}
        .table__td{
            @extend .table__th;
            &:last-child{border-right: 0}            
        }
    }   
}

/* info.html */

.section-info{
    .component-area + .component-area{
        margin-top: 16px;
    }
    
    .component-group--align-left .component-box{
        padding-top: 4px;

        .lst__txt{
            @include font-size(14px, 1.6em, false);
            .lst__txt--gray{
                color: $txt_gray;
            }
        }
    }
    
    .component-group--align-right .component-box{
        .dropdown{
            width: 148px;
        }
        .search-form{
            width: 248px;
        }
    }
}

/* ========== popup ========== */
.popup__dimmed, .popup-wrap{
    display: none;
}
.popup-wrap--active{
    display: block;
}

//allmenu
.popup-layer--allmenu{
    .popup__header-txt{
        @include font-size(20px, 1.4em, 700);
    }
    .popup__contents{
        max-height: none;
        
        .popup__contents-inner{
            float: left;
            width: calc(100% / 5);    
        }
    }
}
.popup__contents-inner{
    .popup__contents-title{
        @include font-size(16px, 1.6em, 700);
        color: $txt_black;        
    }
    .popup__lst-item{
        margin-top: 0;
    }
    .popup__lst-menu{
        padding: 9px 16px;
    }
    .popup__lst-sub-menu{
        display: block;
        padding: 5px 0 5px 32px;

        &:hover{
            background-color: $ui_hover;
        }
    }    
    .popup__lst-item-txt{
        color: $txt_black;
        .icon-external{
            margin: 7px 0 0 8px;
        }
    }
    .popup__lst-sub-menu-txt{
        .icon-external{
            margin: 7px 0 0 8px;
        }
    }
}


//bookmark
.popup-dialog--bookmark{
    @include position(absolute, 62px, 50%, auto, auto);
    margin-right: -720px;
    width: auto;
    height: auto;
    padding: 0;

    .popup-wrap__inner .popup__inner-wrap{
        display: inline-block;
        width: 256px;
        
        .popup__header{
            position: relative;
    
            .btn{
                @include position(absolute, 0, 23px, auto, auto);
                border: none;
                padding: 0;
    
                &:hover{
                    background-color: transparent;
                }
                .sp{
                    margin-right: 0;
                }
                .icon-modify{
                    width: 15px;
                    height: 15px;
                    background-image: url("../img/icon.png");
                    background-position: -49px -22px;
                    background-repeat: no-repeat;
                }
                .icon-close{
                    width: 12px;
                    height: 12px;
                    background-image: url("../img/sprites/template_pc.png");
                    background-position: -210px 0px;
                }
            }
        }
        .popup__contents{
            max-height: 200px;        
        }
    }
}

.popup-club-info .popup__contents{
    overflow-y: visible;
}

