<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.smilegate.fim.mappers.fim.BizMapper">

    <sql id="bizColumn">
        biz_chk_hist_id         as bizChkHistId
        ,biz_no                 as bizNo
        ,user_id                as userId
        ,user_nm                as userNm
        ,dept_nm                as deptNm
        ,req_server             as reqServer
        ,result_msg             as resultMsg
        ,detail_msg             as detailMsg
        ,detail_msg_engl        as detailMsgEngl
        ,crt_date               as crtDate
        ,convert(varchar, crt_date, 111)               as crtDateStr
    </sql>
    
    <!-- 휴폐업 조회 이력 저장 -->
    <insert id="insertBizInfo" parameterType="bizVO">
        <selectKey keyProperty="bizChkHistId" resultType="int" order="BEFORE">
            select next value for seq_biz_chk_hist
        </selectKey>
        insert into tb_biz_chk_hist(
            biz_chk_hist_id
            ,biz_no         
            ,user_id        
            ,user_nm        
            ,dept_nm        
            ,req_server
            ,result_msg     
            ,detail_msg     
            ,detail_msg_engl
        )values (
            #{bizChkHistId}
            ,#{bizNo}
            ,#{userId}
            ,#{userNm}
            ,#{deptNm}
            ,#{reqServer}
            ,#{resultMsg}
            ,#{detailMsg}
            ,#{detailMsgEngl}
        )
    </insert>
    
    <!-- 휴폐업 조회 이력 카운트 조회 -->
    <select id="selectBizInfoCnt" resultType="int">
        select
            count(*)
        from tb_biz_chk_hist
        where
             convert(varchar, crt_date, 112) between replace(#{pagingVO.searchStdDt},'-','') and replace(#{pagingVO.searchEndDt},'-','')
             <if test="bizVO.userNm != null and bizVO.userNm != ''">
                and user_nm like concat('%',#{bizVO.userNm},'%')
             </if>
             <if test="bizVO.bizNo != null and bizVO.bizNo != ''">
                and biz_no like concat('%', #{bizVO.bizNo}, '%')
             </if>
             <if test="bizVO.deptNm != null and bizVO.deptNm != ''">
                and dept_nm like concat('%', #{bizVO.deptNm}, '%')
             </if>
    </select>
    <!-- 휴폐업 조회 이력 조회 -->
    <select id="selectBizInfoList" resultType="bizVO">
        select
            <include refid="bizColumn"/>
        from tb_biz_chk_hist
        where
             convert(varchar, crt_date, 112) between replace(#{pagingVO.searchStdDt},'-','') and replace(#{pagingVO.searchEndDt},'-','')
             <if test="bizVO.userNm != null and bizVO.userNm != ''">
                and user_nm like concat('%',#{bizVO.userNm},'%')
             </if>
             <if test="bizVO.bizNo != null and bizVO.bizNo != ''">
                and biz_no like concat('%', #{bizVO.bizNo}, '%')
             </if>
             <if test="bizVO.deptNm != null and bizVO.deptNm != ''">
                and dept_nm like concat('%', #{bizVO.deptNm}, '%')
             </if>
             order by BIZ_CHK_HIST_ID desc
             offset(#{pagingVO.pageNo} -1 ) * #{pagingVO.listCnt} row
             fetch next #{pagingVO.listCnt} row only
    </select> 
    
</mapper>