<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.smilegate.fim.mappers.fim.BoardMapper">

     <resultMap id="boardResultMap" type="boardVO">
        <id property="boardId" column="boardId"/>
        <result property="cont" column="cont"/>
        <result property="hit" column="hit"/>
        <result property="title" column="title"/>
        <result property="userId" column="userId"/>
        <result property="userNm" column="userNm"/>
        <result property="crtDate" column="crtDate"/>
        <result property="boardMasterId" column="boardMasterId"/>
        <result property="sendMailYn" column="sendMailYn"/>
        <result property="fileId" column="fileId"/>
        <result property="iconSrc" column="iconSrc"/>
        <collection property="fileList" javaType="java.util.ArrayList" resultMap="fileResultMap"/>
    </resultMap>

    <resultMap id="fileResultMap" type="fileVO">
        <result property="fileId" column="fileId"/>
        <result property="fileNm" column="fileNm"/>
        <result property="originalFileNm" column="originalFileNm"/>
        <result property="filePath" column="filePath"/>
        <result property="contentType" column="contentType"/>
        <result property="extention" column="extention"/>
        <result property="fileSize" column="fileSize"/>
    </resultMap>

    <insert id="insertBoard" parameterType="boardVO">
        <selectKey keyProperty="boardId" resultType="int" order="BEFORE">
            select next value for seq_board
        </selectKey>
        insert into tb_board(
            board_id
            ,cont
            ,hit
            ,title
            ,user_id
            ,user_nm
            ,board_master_id
            ,send_mail_yn
        )values(
            #{boardId}
            ,#{cont}
            ,0
            ,#{title}
            ,#{userId}
            ,#{userNm}
            ,#{boardMasterVO.boardMasterId}
            ,#{sendMailYn}
        )
    </insert>

    <select id="selectBoardList" resultMap="boardResultMap">
        SELECT
            b.board_id AS boardId
            ,cont
            ,hit
            ,title
            ,USER_ID AS userID
            ,user_nm as userNm
            ,board_master_id AS boardMasterId
            ,send_mail_yn AS sendMailYn
            ,b.crt_date as crtDate
            ,FILE_ID AS fileId
            ,file_nm AS fileNm
            ,original_file_nm AS originalFileNm
            ,file_path AS filePath
            ,content_type AS contentType
            ,extention
            ,file_size AS fileSize
            ,case when FILE_ID  is not null then '/resources/img/sprites/template_pc/icon-attachment.png' else '' end as iconSrc
        FROM TB_BOARD b
        LEFT JOIN TB_FILE f
        ON b.board_id = f.board_id
        where
            b.crt_date between convert(DATETIME,#{searchStdDt}) and DATEADD(DAY,1,convert(DATETIME,#{searchEndDt}))
            <choose>
                <when test="searchKind == 'title'">
                    and title like concat('%', #{search}, '%')
                </when>
                <when test="searchKind == 'cont'">
                    and cont like concat('%', #{search}, '%')
                </when>
                <when test="searchKind == 'titleAndCont'">
                    and title like concat('%', #{search}, '%') or cont like concat('%',#{search},'%')
                </when>
                <when test="searchKind == 'userNm'">
                    and user_nm like concat('%', #{search}, '%')
                </when>
            </choose>
    </select>
    
    <!-- 게시판 조회수 증가 -->
    <update id="updateBoardHit">
        update
            tb_board
                set
                    hit = (select max(hit)+1 from tb_board where board_id = #{boardId})
            where
                board_id = #{boardId}
    </update>
    
    <select id="selectBoardByBoardId" resultMap="boardResultMap">
        SELECT
            b.board_id AS boardId
            ,cont
            ,hit
            ,title
            ,USER_ID AS userID
            ,user_nm as userNm
            ,board_master_id AS boardMasterId
            ,send_mail_yn AS sendMailYn
            ,FILE_ID AS fileId
            ,file_nm AS fileNm
            ,original_file_nm AS originalFileNm
            ,file_path AS filePath
            ,content_type AS contentType
            ,extention
            ,file_size AS fileSize
        FROM TB_BOARD b
        LEFT JOIN TB_FILE f
        ON b.board_id = f.board_id
        where
            b.board_id = #{boardId}
    </select>
</mapper>