<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.smilegate.fim.mappers.fim.TaxScheduleMapper">

    <sql id="taxScheduleColumn">
        tax_month as taxMonth
        ,tax_day as taxDay
        ,tax_plan as taxPlan
        ,note as note
    </sql>
    
    <!-- 인덱스 페이지 조회 -->
    <select id="selectTaxScheduleByIndex" resultType="taxScheduleVO">
        select
             TOP 4 
            <include refid="taxScheduleColumn"/>
            ,concat(tax_month, '/', tax_day) as taxDate
        from TB_TAX_SCHEDULE
        where
            concat(tax_month,tax_DAY) > RIGHT(convert(varchar(10),GETDATE(),112),4)
    </select>
    
    <!-- 세부일정 조회 -->
    <select id="selectTaxSchedule" resultType="taxScheduleVO">
        select
            concat(LEFT(CONVERT(CHAR(8), GETDATE(), 112),4),'-', tax_month,'-', tax_day) as start
            ,tax_plan as title
            ,tax_plan as description
        from TB_TAX_SCHEDULE
    </select>
    
    <!-- 월별 세부 일정 조회 -->
    <select id="selectTaxScheduleByMonth" resultType="taxScheduleVO">
        select 
            <include refid="taxScheduleColumn"/>
        from TB_TAX_SCHEDULE
        where
            tax_month = #{taxMonth}
    </select>
    
    <!-- 세부일정 저장 -->
    <insert id="insertTaxSchedule" parameterType="taxScheduleVO">
        insert into TB_TAX_SCHEDULE(
            tax_month
            ,tax_day
            ,tax_plan
            ,note
        ) values (
            #{taxSchedulePK.taxMonth}
            ,#{taxSchedulePK.taxDay}
            ,#{taxSchedulePK.taxPlan}
            ,#{note}
        )
    </insert>
    
    <!-- 세부 일정 전체 삭제 -->
    <delete id="deleteTaxSchedule">
        delete from TB_TAX_SCHEDULE
    </delete>
    
    
</mapper>