<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.smilegate.fim.mappers.fim.tiarcost.TiarCostFileMapper">

    <!-- 파일 저장 -->
    <insert id="insertFile" parameterType="fileVO">
        <selectKey keyProperty="fileId" resultType="int" order="BEFORE">
            select next value for seq_tiar_cost_file
        </selectKey>
        insert into tb_tiar_cost_file(
            file_serl
            ,file_nm
            ,original_file_nm
            ,file_path
            ,content_type
            ,extention
            ,file_size
            ,ti_cost_seq
        )values(
            #{fileId}
            ,#{fileNm}
            ,#{originalFileNm}
            ,#{filePath}
            ,#{contentType}
            ,#{extention}
            ,#{fileSize}
            ,#{refId}
        )
    </insert>
    
    <!-- 지출결의 일련번호에 해당되는 파일 리스트 조회 -->
    <select id="selectFileList" parameterType="fileVO" resultType="fileVO">
        select
            file_serl           as fileId
            ,file_nm            as fileNm
            ,original_file_nm   as originalFileNm
            ,file_path          as filePath
            ,content_type       as contentType
            ,extention          as extention
            ,file_size          as fileSize
            ,ti_cost_seq        as refId
        from tb_tiar_cost_file
        where
            ti_cost_seq = #{refId}
    </select>
    
    <!-- 지출결의 일련번호에 해당되는 파일 전체 삭제 -->
    <delete id="deleteFileByRefId">
        delete from tb_tiar_cost_file
        where ti_cost_seq = #{refId}
    </delete>
    
    <!-- 파일 일련번호에 해당하는 파일 삭제 -->
    <delete id="deleteFileByFileId">
        delete from tb_tiar_cost_file where file_serl = #{fileId}
    </delete>
    
</mapper>