<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.smilegate.fim.mappers.fim.TiarCostLogMapper">

    <insert id="insertTiarCostLog" parameterType="tiarCostLogVO">
        <selectKey keyProperty="logSeq" resultType="int" order="BEFORE">
            select next value for seq_tiar_cost_log
        </selectKey>
        insert into tb_tiar_cost_log(
            log_seq
            ,ti_cost_seq             -- 지출결의서 내부키
            ,ti_cost_no             -- 지출결의서 문서번호
            ,company_seq            -- 법인코드
            ,contents               -- 지출내역(비고)
            ,erp_slip_seq           -- 전표 내부 코드
            ,title                  -- 제목
            ,acct_no                -- 계좌번호
            ,bank_cd                -- 은행코드
            ,acct_owner_nm          -- 예금주
            ,grstatus               -- 그룹웨어 상태값 코드
            ,gr_end_status          -- 그룹웨어 최종결제 여부
            ,confirm                -- erp확정 여부 코드
            ,com_cd                 -- 인사법인 코드
            ,pid                    -- GW 전자결제 키값
            ,acc_erp_dept_seq       -- 등록자 소속실 erp 부서 코드
            ,input_kind             -- 입력 주체
            ,due_date               -- 출금예정일
            ,memo                   -- 메모
            ,reg_date               -- 기안 일자
            ,reg_erp_emp_seq        -- 기안자 erp사원코드
            ,reg_user_id            -- 기안자 사원 코드
            ,reg_erp_dept_seq       -- 기언자 erp부서코드
            ,reg_emp_no             -- 사용자 사번
            ,reg_dept_cd            -- 등록자 부서 코드
            ,last_user_id           -- 데이터 최종수정자 사원코드
            ,last_date_time         -- 데이터 최종 수정일
        )values (
            #{logSeq}
            ,#{tiCostSeq}                  -- 지출결의서 내부키          
            ,#{tiCostNo}                  -- 지출결의서 문서번호         
            ,#{companySeq}                -- 법인코드               
            ,#{contents}                  -- 지출내역(비고)           
            ,#{erpSlipSeq}                -- 전표 내부 코드           
            ,#{title}                     -- 제목                 
            ,replace(#{acctNo}, '-', '')  -- 계좌번호               
            ,#{bankCd}                    -- 은행코드               
            ,#{acctOwnerNm}               -- 예금주                
            ,#{grstatus}                  -- 그룹웨어 상태값 코드        
            ,#{grEndStatus}               -- 그룹웨어 최종결제 여부       
            ,#{confirm}                   -- erp확정 여부 코드        
            ,#{comCd}                     -- 인사법인 코드            
            ,#{pid}                       -- GW 전자결제 키값         
            ,#{accErpDeptSeq}             -- 등록자 소속실 erp 부서 코드  
            ,#{inputKind}                 -- 입력 주체              
            ,#{dueDate}                   -- 출금예정일              
            ,#{memo}                      -- 메모                 
            ,replace(#{regDate}, '-', '') -- 기안 일자              
            ,#{regErpEmpSeq}              -- 기안자 erp사원코드        
            ,#{regUserId}                 -- 기안자 사원 코드          
            ,#{regErpDeptSeq}             -- 기언자 erp부서코드        
            ,#{regEmpNo}                  -- 사용자 사번             
            ,#{regDeptCd}                 -- 등록자 부서 코드          
            ,#{lastUserId}                -- 데이터 최종수정자 사원코드     
            ,getdate()              -- 데이터 최종 수정일         
        )
        
    </insert>
    
    
    <select id="selectTiarCostByTiCostSeq" resultType="tiarCostLogVO">
        select
            log_seq             AS logSeq
            ,ti_cost_Seq         AS tiCostSeq
            ,ti_cost_no         AS tiCostNo             
            ,company_seq        AS companySeq           
            ,contents           AS contents             
            ,erp_slip_seq       AS erpSlipSeq           
            ,title              AS title                
            ,acct_no            AS acctNo 
            ,bank_cd            AS bankCd               
            ,acct_owner_nm      AS acctOwnerNm          
            ,grstatus           AS grstatus             
            ,gr_end_status      AS grEndStatus          
            ,confirm            AS confirm              
            ,com_cd             AS comCd                
            ,pid                AS pid                  
            ,acc_erp_dept_seq   AS accErpDeptSeq        
            ,input_kind         AS inputKind            
            ,due_date           AS dueDate              
            ,memo               AS memo                 
            ,reg_date           AS regDate
            ,reg_erp_emp_seq    AS regErpEmpSeq         
            ,reg_user_id        AS regUserId            
            ,reg_erp_dept_seq   AS regErpDeptSeq        
            ,reg_emp_no         AS regEmpNo             
            ,reg_dept_cd        AS regDeptCd            
            ,last_user_id       AS lastUserId           
        from tb_tiar_cost_log
        where
            1=1
            <if test="logSeq != null ans logSeq != ''">
                and log_seq = #{logSeq}
            </if>
    </select>
    
</mapper>