<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.smilegate.fim.mappers.sgerp.SgerpMapper">

    <!-- 환율 정보 조회 -->
    <select id="selectExRate" resultType="map">
        select
            A.companySeq        -- 법인 코드
            ,A.CurrSeq          -- 통화내부 코드
            ,SMFirstOrLast      -- 환율받기조건코드
            ,SMFirstOrLastName  -- 환율받기 조건
            ,TTM                -- 매매기준율
            ,TTB                -- 송금 보낼때
            ,TTS                -- 송금 받을때
            ,CASHB              -- 현찰 살때
            ,CASHS              -- 현찰팔때
            ,USAExrate          -- 대미 환산
            ,ChangeRate         -- 환가로율
            ,A.CurrName         -- 통화
            ,ExRateDate         -- 환율일
            ,QryOrder
        from v_mstm_ExRate AS A
        JOIN v_mstm_Curr AS B
        ON A.CompanySeq = B.CompanySeq AND A.CurrSeq = B.CurrSeq
        where
            A.CompanySeq = '1'
            <choose>
                <when test="exRateDate != null and exRateDate != ''">
                    and ExRateDate = #{exRateDate}
                </when>
                <otherwise>
                    and ExRateDate = '20200107'
                </otherwise>
            </choose>
        order by QryOrder
    </select>

    <!-- 사용자 계좌 정보 조회 프로시져 -->
    <select id="callBankInfo" statementType="CALLABLE" resultType="map">
        
        exec SG_SHRIFEmpAccNoQuery #{deptCd}, #{empNo}
        
    </select>



</mapper>